@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    
}
header{
 
    height: 100vh;
    background-color: aliceblue;
    
}
.btn__toggle{
    display: none;
}
.nav__container{
   
    display: flex;
    width: 100%;
    margin: auto;
    height: 10vh;
    padding: 0 50px;
}
nav{
    display: flex;
   
    width: 50%;
    margin: auto;
    height: 10vh;
}
ul{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10vh;
}
ul li{
display: flex;
margin: 0 2%;
cursor: pointer;
}
ul li a{

   transition: all 0.5s ease-in-out;
    }
    ul li a:hover{
        transform: scale(1.1);
        transition: all 0.5s ease-in-out;
         }
.search__bar{
    display: flex;
    align-items: center;
    padding-right: 10px;
}
.search__bar input{
    padding: 8px;
    border-radius: 10px ;
}
.social__medias{
    display: flex;
    align-items: center;
}
.active{
    border: none;
    border-radius: 10px;
    padding: 6 10;
    background-color: rgba(158, 158, 158,0.2);
    color: white;
    transition: all 0.5s ease-in-out;
}

@media screen and (max-width:860px) {
    .btn__toggle{
        display: flex;
        position: absolute;
        right: 20;
        top:20;
        font-size: 30px;
        background: transparent;
        border: none;
    }
    .nav__container{
        border: 1px solid;
        display: flex;
        margin: 0;
        flex-direction: column;
        width: 50%;
        background-color: rgb(61, 84, 105);
        left: 0;
        height: 100vh;
        padding: 0 0px;
        transition: all 1s ease-in-out;
        position: relative;
        top: 0;
        left: -300px;
        transition: all 0.5s ease-in-out;
        opacity: 0;
      
    }
    nav{
        display: flex;
        flex-direction: column;
       
      
        width: 100%;
        margin: auto;
        height: 10vh;
    }
    ul{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        height: 10vh;
    }
    ul li{
    display: flex;
    flex-direction: column;

    margin: 0 2%;
    }
    ul li a{
       text-transform: uppercase;
       color: white;
       padding: 10px;
       font-size: 20px;
        }
    .search__bar{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-right: 10px;
    }
    .search__bar input{
        padding: 8px;
        border-radius: 10px ;
    }
    .social__medias{
        display: flex;
        
    }
    .social__medias ul{
        display: flex;
       padding: 0;
       margin: 0;
      
    }
    .social__medias__ul{
        display: flex;
        flex-direction: row;
        padding-top: 20px;
    }
    .nav__container__remover{
        position: relative;
        top: 0;
        left: 0px;
        transition: all 0.5s ease-in-out;
        opacity: 1;
    }
}
